{%extends 'base.html' %}
{%block title%}Login{%endblock%}
{% block content %}
   

<h1>Login</h1><br/><br/>

<div class="div-center">
<form method="POST">
    {%csrf_token%}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="username" >
        
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="password">
      </div>
    <button class="btn btn-primary">Login</button><br/>
Note User? register  <a href="{%url 'register'%}">here</a>
</form>
</div>
{%endblock%}



